.boton-contenedor{
    height:83px;
    display:flex;
    flex:1 1;
    justify-content:center;
    align-items:center;
    font-weight: bold;
    background-color:brown;
    margin: 4px;
    border:1px solid blue;
    border-radius: 25px;
    font-size: 38px;
    user-select: none;
    cursor:pointer;
}
.boton-contenedor:hover{
    background-color: rgb(7, 7, 173);
}